<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Kitchen Boss</title>
    
            <link href="/materilize/materialize.css" type="text/css" rel="stylesheet">    
            <link href="/css/style.css" type="text/css" rel="stylesheet">
        
        


</head>

<body>
    <div>

        {{{ body }}}

    </div>

</body>

        <script  src="/materilize/materialize.js"></script> 
        <script  src="/javascript/front.js"></script> 
</html>