<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Kitchen Boss</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div>

        {{{ body }}}

    </div>

</body>

</html>