<body>
  <h1>Home Kitchen Boss</h1>
    <form class="apiSearchForm">
        <div class="row header " >
           <div class="col s4">
            <img src="/images/boss.png" class="icon">
          </div>
            <div class="row">
          <div class="col s12 grid">  
            <div class="input-field">
                    <label>Diet Choice</label>
                <select>
                  <option value="">None Specific</option>
                    <option value="Gluten Free" >Gluten Free</option>
                  <option value="Ketogenic">Ketogenic</option>
                  <option value="Vegetarian">Vegetarian</option>
                  <option value="Lacto-Vegetarian">Lacto-Vegetarian</option>
                  <option value="Ovo-Vegetarian">Ovo-Vegetarian</option>
                  <option value="Vegan">Vegan</option>
                  <option value="Pescetarian">Pescetarian</option>
                  <option value="Paleo">Paleo</option>
                  <option value="Primal">Primal</option>
                  <option value="Whole30">Whole30</option>
                </select>
            
              </div>
              <div class="input-field ">
                <label>Cuisine Choice</label>
                <select>
                  <option value="">None Specific</option>
                  <option value="African">African</option>  
                  <option value="American" >American</option>
                  <option value="British">British</option>
                  <option value="Cajun">Cajun</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="Chinese">Chinese</option>
                  <option value="Eastern European">Eastern European</option>
                  <option value="French">French</option>
                  <option value="German">German</option>
                  <option value="Greek">Greek</option>
                  <option value="Indian">Indian</option>
                  <option value="Irish" >Irish</option>
                  <option value="Italian">Italian</option>
                  <option value="Japanese">Japanese</option>
                  <option value="Jewish">Jewish</option>
                  <option value="Korean">Korean</option>
                  <option value="Latin American">Latin American</option>
                  <option value="Mediterranean">Mediterranean</option>
                  <option value="Mexican">Mexican</option>
                  <option value="Middle Eastern">Middle Eastern</option>
                  <option value="Nordic">Nordic</option>
                  <option value="Southern">Southern</option>
                  <option value="Spanish">Spanish</option>
                  <option value="Thai">Thai</option>
                  <option value="Vietnamese">Vietnamese</option>
                </select>
                
              </div>
            
                        <div class="input-field ">
                <label>Food allergys</label>
                <select>
                  <option value="">None Specific</option>
                    <option value="Dairy" >Dairy</option>
                  <option value="Egg">Egg</option>
                  <option value="Gluten">Gluten</option>
                  <option value="Grain">Grain</option>
                  <option value="Peanut">Peanut</option>
                  <option value="Seafood">Seafood</option>
                  <option value="Sesame">Sesame</option>
                  <option value="Shellfish">Shellfish</option>
                  <option value="Soy">Soy</option>
                  <option value="Sulfite">Sulfite</option>
                  <option value="Tree Nut">Tree Nut</option>
                  <option value="Wheat">Wheat</option>
                </select>
                
              </div>
            <div class="input-field " style="float: right;">
              
                <input  type="text" placeholder="Search.." name="search" class="search">
                <button type="button"><i id="searchSubmit" >Search</i></button>
              </form>
            </div>
          </div>
         </div> 
        </div>
      </div>
          </form>
         
</body>